{{ define "main" }}

<style>
    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 18px;
        padding: 0;
    }

    .card {
        display: grid; /* グリッドレイアウトに変更 */
        grid-template-columns: 20% auto; /* 左に画像、右にタイトルと本文 */
        gap: 8px; /* 画像とコンテンツ間の余白 */
        width: 250px;
        height: 100px;
        border: 1px solid black;
        padding: 10px;
        background-color: white;
        overflow: hidden;
    }

    .card img {
        width: 90%; /* グリッドセル内で最大幅 */
        height: 50%; /* グリッドセル内で最大高さ */
        object-fit: cover; /* 正方形内に収める */
        background-color: white;
    }

    .card-content {
        display: grid; /* 内容部分もグリッド化 */
        grid-template-rows: auto 1fr auto; /* タイトル、本文、更新日 */
        gap: 5px; /* 各要素間の余白 */
    }

    .card-title {
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        color: black;
    }

    .card a {
        color: rgb(28, 194, 28);
        text-decoration: none;
    }

    .card a:hover {
        text-decoration: none;
        border: 2px solid black;
    }

    .card-summary {
        font-size: 14px;
        margin: 0;
        line-height: 1.2;
        height: 60px;
        overflow: hidden;
    }

    .card-lastmod {
        font-size: 9px;
        color: gray;
        margin: 0;
        text-align: right; /* 右揃え */
    }
</style>

<div class="card-container">
    {{ range sort .Site.RegularPages "Lastmod" "desc" }}
    <div class="card">
        <!-- 画像 -->
        {{ with .Params.featuredImage }}
        <img src="{{ . }}" alt="Featured image for {{ $.Title }}">
        {{ else }}
        <img src="images/default.jpg" alt="Default image">
        {{ end }}
        
        <!-- コンテンツ -->
        <div class="card-content">
            <div class="card-title">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </div>
            <div class="card-summary">{{ .Summary }}</div>
            <div class="card-lastmod">{{ .Lastmod | dateFormat "2006/01/02" }}</div>
        </div>
    </div>
    {{ end }}
</div>

{{ end }}
