body {
    height: 100%;
    background-color: white;
}

#content {
    min-height: calc(100vh - 50px);
    margin: 0 5%;
    width: 50%; /* 全体の60%の幅 */
    min-width: 700px;
    margin-left: 10px; /* 左寄せ */
    margin-right: auto; /* 右側に余白を作る */
}

header {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 20px;
}

header a {
    text-decoration: none;
    color: gray;
}

main {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

footer {
    font-family: 'VT323', monospace;
    height: 30px;
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
}

ul {
    list-style-type: none; /* ・を消す */
    padding: 0;           /* 余白をリセット */
    margin: 0;            /* マージンをリセット */
    font-size: 14px;
}

li {
    padding: 4px 0;       /* アイテム間の余白 */
}

#memo {
    font-size: 12px;
}